doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title= title
  // Custom fonts for this template
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  script(src='/vendor/fontawesome-free/jquery/jquery.min.js')
  link(rel='shortcut icon' type='image/x-icon' href='/images/coffee-6-128.ico')
  link(href='/css/sb-admin-2.min.css' rel='stylesheet')
  link(href='/css/all.min.css' rel='stylesheet')
  link(href='/stylesheets/style.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet')
  link(rel='stylesheet' href='/css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet' href='/css/animate.css')
  link(rel='stylesheet' href='/css/owl.carousel.min.css')
  link(rel='stylesheet' href='/css/owl.theme.default.min.css')
  link(rel='stylesheet' href='/css/aos.css')
  link(rel='stylesheet' href='/css/ionicons.min.css')
  link(rel='stylesheet' href='/css/flaticon.css')
  link(rel='stylesheet' href='/css/icomoon.css')
  link(rel='stylesheet' href='/css/style.css')
  body
    block content

    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    script(src='/vendor/fontawesome-free/js/all.min.js')
    script(src='/js/sb-admin-2.min.js')
    script(src='/js/jquery.min.js')
    script(src='/js/jquery-migrate-3.0.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.waypoints.min.js')
    script(src='/js/jquery.stellar.min.js')
    script(src='/js/owl.carousel.min.js')
    script(src='/js/aos.js')
    script(src='/js/scrollax.min.js')
    script(src='/js/main.js')
    //- script(src='/js/index.js')

